stages:
  - test
  - build

test:
  stage: test
  image: golang:1.24-alpine
  before_script:
    - apk add --no-cache gcc musl-dev
  script:
    - go test ./... -race -cover
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_MERGE_REQUEST_ID

build:
  stage: build
  tags:
    - docker
  image:
    name: gcr.io/kaniko-project/executor:v1.23.2-debug
    entrypoint: [""]
  script:
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}"
      --dockerfile "${CI_PROJECT_DIR}/Dockerfile"
      --destination "${CI_REGISTRY_IMAGE}:docker"
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

